BODY {
  background: #282931;
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;
  height: 100%;
  margin:0px;
}

canvas {
  height: 100vh;
  z-index: -10;
  position: fixed;
  top: 0px;
}

a {
  color: #bbbbc4;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover {
  color: #fc3565;
}

h1 {
  color: #fc3565;
  padding-bottom: 0px;
  margin-bottom: 1%;
}

h2 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

p{
  color: #bbbbc4;
  font-size: 1.7rem;
}

label{
  color:white;
}

.logo {
  font-family: 'Monoton', cursive;
  color: white;
  font-size: 8rem;
  display: inline-block;
}


.row.top p {
    color: #bbbbc4;
    margin-top: 1rem;
    text-align: justify;
    font-size: 1.7rem;
  }

.contact{
  display: inline-block;
}

.pulled {}

.pulled ul {
    padding-top: 2rem;
}

.pulled ul li {
  list-style: none;
  margin-right: 2rem;
  font-size: 1.8rem;
}

.pulled h2 {
  color: #DEDEDE;
  font-size: 3rem;

}

.pulled ul li span{
  font-size:1.2rem;
}

.footer{
}

.footer p{
  color:white;
  font-size:1.2rem;
}

.services h2{
      color: #fc3565;
    padding-bottom: 1.5rem;
    font-size: 2rem;
}

.services .title{
    color: #DEDEDE;
  font-size: 3rem;
}



.u-full-width {
  width: 100%;
  box-sizing: border-box; 
}

.cta{
    background: #2C2D35;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

.cta p{
 color: white;
    font-size: 2rem;
    display: inline-block;
    margin: 1.5rem;
    text-align: center;
}

.button.button-primary,button.button-primary,input[type=button].button-primary,input[type=reset].button-primary,input[type=submit].button-primary {
    color: #FFF;
    background-color: #CC2B52;
    border-color: #fc3565
}

.button.button-primary:focus,.button.button-primary:hover,button.button-primary:focus,button.button-primary:hover,input[type=button].button-primary:focus,input[type=button].button-primary:hover,input[type=reset].button-primary:focus,input[type=reset].button-primary:hover,input[type=submit].button-primary:focus,input[type=submit].button-primary:hover {
    color: #FFF;
    background-color: #C33C5D;
    border-color: #fc3565
}

.button-primary a{
  color: white;
  
}

/* Mobile first queries */


/* Larger than mobile */

@media (min-width: 400px) {}


/* Larger than phablet */

@media (min-width: 550px) {}


/* Larger than tablet */

@media (min-width: 750px) {}


/* Larger than desktop */

@media (min-width: 1000px) {
  .footer{
    
  }
}


/* Larger than Desktop HD */

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}